.nav {
    width:100%;
}
 .nav{
     display:  flex;
     justify-content: end;
 }
 .nav li{
    margin-left:20px ;
 }

 @media screen and (max-width: 1023px){
    .nav{
        display: none;
    }
    
 }